* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

nav {
    background-color: #16A34A;
    color: white;
    grid-row: span 5;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-logo {
    font-size: 2rem;
    margin-right: 10px;
    padding-left: 5px;
}

a {
    color: white;
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: #DCFCE7;
}

.nav-panel {
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
}

.nav-head {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.nav-title {
    font-size: 1.3rem;
    align-items: center;
    margin-right: 20px;
}

.nav-upper, .nav-lower {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: end;
    margin-top: 30px;
}

.nav-item-logo {
    text-align: center;
    font-size: 1.3rem;
}

.nav-item {
    font-size: 1rem;
}

.nav-sublogo {
    font-weight: 200;
    font-size: 1rem;
}

.flipped {
    display: inline-block;
    transform: scaleX(-1);
}

header {
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

.header-panel {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 2.5fr;
    align-items: center;
}

.magnify {
    font-size: 1.1rem;
}

.header-search {
    align-items: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: .5fr 9fr;
}

input {
    padding: 2px 10px;
    border: 0;
    outline: 0;
    background-color: #DCFCE7;
}

.header-right {
    display: grid;
    grid-template-columns: .3fr .4fr 1fr;
    align-items: center;
    max-width: 250px;
    justify-self: end;
    padding: 8px;
}

.bellicon {
    font-weight: 700;
    font-size: 1.2rem;
}

.searchbar {
    max-width: 85%;
    border-radius: 25px;
}

.user-avatar-small {
    width: 35px;
}

.user-avatar-med {
    width: 55px;
    padding: 16px;
}

.header-greeting {
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-self: start;
}

.greeting {
    font-size: .8rem;
    font-weight: 700;
}

.greeting-name {
    font-size: 1.3rem;
    font-weight: 700;
}

.greeting-img {
    grid-row: span 2;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 280px;
    margin-top: 15px;
    gap: 8px;
    justify-self: end;
}

.headerbtn {
    border-radius: 100px;
    background-color:#16A34A;
    color: white;
    padding: 5px 6px 7px 6px;
    width: 78px;
    border: 1px solid #16A34A;
    font-size: .8rem;
    transition: .5s ease;
    cursor: pointer;
}

.headerbtn:hover {
    background-color: #DCFCE7;
    border-color: #DCFCE7;
    color:#16A34A;
    font-weight: 600;
}

main {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #DCFCE7;
}

main p {
    font-weight: 400;
}

.main-panel {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    height: 100%;
}

.main-projects-title {
    grid-column: span 2;
    font-weight: 700;
}

.main-projects-panel {
    margin: 10px;
    margin-left: 0;
    margin-right: 20px;
    border-left: 8px solid #16A34A;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.projects-p {
    font-size: 14px;
}

.main-projects-panel h4 {
    font-size: .9rem;
    margin-bottom: 1px;
}

.side-panel {
    display: grid;
    grid-template-rows: .1fr 4fr .1fr 3fr;
    margin-left: 5px;
    height: 100%;
}

.main-side-box1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 10px 15px 20px 15px;
    height: 80%;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcement {
    font-size: .8rem;
    font-weight: 400;
    padding: 15px 5px;
}

.bb {
    border-bottom: 1px solid grey;
}

.main-side-box2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
    padding: 10px 15px;
    height: 84%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trending-box {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.trending-box-text {
    margin-left: 10px;
}

.share {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center;
}

.project-icons {
    margin-top: 10px;
    font-weight: 500;
    justify-content: flex-end;
    display: flex;
}

.project-icon {
    margin-left: 20px;
    font-size: 1.2rem;
}

.username {
 font-size: .8rem;
 margin: 0;
 font-weight: 700;
 padding: 0;
}

.appname {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    color: grey;
}

footer {
    position: relative;
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: .85rem;
    font-weight: 500;
}

footer a {
    color:#16A34A;
}
footer a:hover {
    color: #292929;
}